/*ForgetPassword Page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

.forgot-password-box {
    padding: 40px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #009c99;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    margin-bottom: 50px;
    color: #555;
}

.input-container {
    margin-bottom: 30px;
    text-align: left;
    margin-top: 50px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #2d2d2d;
    border-radius: 4px;
    margin-bottom: 20px;
}
input[type="text"].error{
    border: 1px solid red;
}
.error-message {
    display: none;
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
#info-message{
    text-align: left;
}

.action-buttons {
    margin-top: 20px;
}

.send-btn {
    margin-top: 30px;
    width: 106%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color:  #009c99;
    color: white;
    cursor: pointer;
}

.send-btn:hover {
    background-color:  #10adab;
}

