/*ForgetPassword Page */
div.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
}

div.forgot-password-container .forgot-password-box {
    padding: 40px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    text-align: center;

    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    background-color: #f9fafc;
    border-radius: 10px;
    padding: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1px solid #eee;
}

div.forgot-password-container h2 {
    font-size: 24px;
    font-weight: bold;
    color: #009c99;
    margin-bottom: 20px;
}

div.forgot-password-container p {
    font-size: 16px;
    margin-bottom: 50px;
    color: #555;
}

div.forgot-password-container .input-container {
    margin-bottom: 30px;
    text-align: left;
    margin-top: 50px;
}

div.forgot-password-container .label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

div.forgot-password-container input[type="text"] {
    width: 95%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #2d2d2d;
    border-radius: 4px;
    margin-bottom: 20px;
    transition: border 0.3s;
}


div.forgot-password-container .error-message {
    display: none;
    color: #dc3545;
    font-size: 13px;
    margin-top: 5px;
}
.forgot-password-container input[type="text"]:focus {
    border: 3px solid #049b9c; 
    outline: none; 
}

.forgot-password-container input[type="text"].error:focus {
    border: 3px solid #dc3545;
    outline: none;
    box-shadow: 0 0 3px #dc3545;
}
.forgot-password-container #info-message {
    text-align: left;
}

.forgot-password-container .action-buttons {
    margin-top: 20px;
}

.forgot-password-container .send-btn {
    margin-top: 30px;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: #049b9c;
    color: white;
    cursor: pointer;
}

.forgot-password-container .send-btn:hover {
    background-color: #037a7b;
}

/* Responsive Styles */
/* Responsive for tablets (max-width: 768px) */
@media screen and (max-width: 768px) {
    div.forgot-password-container .forgot-password-box {
        padding: 30px 20px;
        width: 100%;
    }

    div.forgot-password-container input[type="text"] {
        padding: 10px;
    }

    div.forgot-password-container .send-btn {
        padding: 10px;
    }
}

/* Responsive for mobiles (max-width: 480px) */
@media screen and (max-width: 480px) {
    div.forgot-password-container .forgot-password-box {
        padding: 20px 30px;
        width: 100%;
    }

    div.forgot-password-container h2 {
        margin-bottom: 13px;
    }

    div.forgot-password-container input[type="text"] {
        padding: 9px;
    }

    div.forgot-password-container .send-btn {
        padding: 9px;
    }
}