/* HOME PAGE STYLING */

/* Carousel images */
.carousel-item img {
    display: block;
    margin: 10px auto;
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Prev/Next arrows styling */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #118997;
    border-radius: 30%;
    width: 40px;
    height: 40px;
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-position: center;
}

/* Indicators styling */
.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 30%;
    background-color: #118997;
    opacity: 0.5;
}

.carousel-indicators .active {
    opacity: 1;
}

#backToTopBtn {
    position: fixed;
    top: 50%;
    /* vertically centered */
    right: 20px;
    /* stick to right side */
    transform: translateY(-50%);
    z-index: 1000;

    width: 40px;
    height: 40px;
    border-radius: 30%;
    /* circular button */
    background-color: black;
    /* teal background */
    color: white;
    /* white icon */
    font-size: 22px;
    border: 2px solid white;
    /* border for contrast */

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    /* floating effect */
    cursor: pointer;
    transition: all 0.3s ease;
}

#backToTopBtn:hover {
    background-color: #118997;
    /* Bootstrap blue on hover */
    transform: translateY(-50%) scale(1.1);
    /* slight zoom on hover */
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
}

.wishlist-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s, color 0.2s;
}

.wishlist-icon i {
    font-size: 20px;
    color: #118997;
}

.wishlist-icon.filled i {
    color: #118997;
}

.wishlist-icon:hover {
    transform: scale(1.2);
    color: #118997;
}