div.profile-settings-container .profile-pic-container {
    position: relative;
    display: inline-block;
}
div.profile-settings-container .edit-icon {
    cursor: pointer;
    margin-left: 8px;
    color: #a8b0b8ff;
}
div.profile-settings-container .edit-icon:hover {
    color: #037a7b;
}
div.profile-settings-container .form-control:focus {
    box-shadow: none !important; 
}

div.profile-settings-container .field-row {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

div.profile-settings-container .field-row .textInput {
    flex: 1; 
    width: auto;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 15px;
    transition: border 0.3s;
    box-shadow: none !important;
}
div.profile-settings-container .field-row .textInput:focus {
    border-color: #049b9c;
    border-width: 3px;
    outline: none;
}

div.profile-settings-container .input-error-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex:1;
}

div.profile-settings-container  .input-error-wrapper .error-message {
    margin-top: 4px;
    font-size: 13px;
    color: #dc3545;
    text-align: left;
}