/*RegisterPage*/
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-box {
    padding: 40px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.register-box h2 {
    font-size: 24px;
    font-weight: bold;
    color: #009c99;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #555;
}

.input-container {
    margin-bottom: 20px;
    text-align: left;
}

.register-container input[type="text"]:focus,
.register-container input[type="password"]:focus {
    border: 2px solid #009c99; /* teal highlight */
    outline: none;
    box-shadow: 0 0 4px rgba(0, 156, 153, 0.5);
}

.register-container input.error:focus {
    border: 2px solid red;
    outline: none;
    box-shadow: 0 0 4px rgba(255, 0, 0, 0.5);
}

.register-container input[type="checkbox"].error:focus {
    outline: 2px solid red;
}
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 106%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #2d2d2d;
    border-radius: 4px;
    margin-bottom: 10px;
}

.error-message {
    display: none;
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
.tnc_confirmation {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
    text-align: left;
}

.action-buttons {
    margin-top: 20px;
}

.register-btn {
    background-color: #009c99;
    color: white;
    width: 112%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

.register-btn:hover {
    background-color: #10adab;
}

.login-link {
    margin-top: 20px;
}

.login-link a {
    color: #009c99;
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline;
}
/* Responsive for tablets (max-width: 768px) */
@media screen and (max-width: 768px) {
    .register-box {
        padding: 30px 20px;
        width: 100%;
    }

    input[type="text"],
    input[type="password"] {
        padding: 10px;
    }

    .register-btn {
        padding: 10px;
    }
}
/* Responsive for tablets (max-width: 480px) */
@media screen and (max-width: 480px) {
    .register-box {
        padding: 20px 30px;
        width: 100%;
    }

    .register-btn {
        padding: 10px;
    }
}