/*RegisterPage*/
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-box {
    padding: 40px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.register-box h2 {
    font-size: 24px;
    font-weight: bold;
    color: #009c99;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #555;
}

.input-container {
    margin-bottom: 20px;
    text-align: left;
}
input[type="text"].error,
input[type="password"].error {
    border: 1px solid red;
}
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #2d2d2d;
    border-radius: 4px;
    margin-bottom: 10px;
}

.error-message {
    display: none;
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
.tnc_confirmation {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
    text-align: left;
}

.action-buttons {
    margin-top: 20px;
}

.register-btn {
    background-color: #009c99;
    color: white;
    width: 106%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

.register-btn:hover {
    background-color: #10adab;
}

.login-link {
    margin-top: 20px;
}

.login-link a {
    color: #009c99;
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline;
}
