body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background: #ffffff;
}

.reset-container {
    padding: 40px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.reset-container h2 {
    font-size: 24px;
    font-weight: bold;
    color: #009c99;
    margin-bottom: 20px;
}

.reset-container p {
    color: #555;
    font-size: 15px;
    margin-bottom: 15px;
}

#password-label {
    display: block;
    text-align: left;
    margin-bottom: 10px;
    font-weight: bold;
}

#password-confirmation-label {
    display: block;
    text-align: left;
    margin-bottom: 10px;
    font-weight: bold;
    margin-top: 20px;
}

input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #2d2d2d;
    border-radius: 4px;
    margin-bottom: 10px;
}

.reset-container input[type="password"]:focus {
    border: 2px solid #009c99; 
    outline: none;
    box-shadow: 0 0 4px rgba(0, 156, 153, 0.5);
}

.reset-container input.error:focus {
    border: 2px solid red;
    outline: none;
    box-shadow: 0 0 4px rgba(255, 0, 0, 0.5);
}
.error-message {
    text-align: left;
    display: none;
    color: red;
    font-size: 12px;
}

button {
    width: 106%;
    padding: 12px;
    background-color: #009c99;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 50px;
}

button:hover {
    background-color: #10adab;
}

.login-link {
    margin-top: 15px;
    font-size: 14px;
    margin-left: 20px;
}

.login-link a {
    color: #009c99;
    font-weight: bold;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

/* Responsive Styles */
/* Responsive for tablets (max-width: 768px) */
@media screen and (max-width: 768px) {
    .reset-container {
        padding: 30px 20px;
        width: 100%;
    }

    input[type="password"],
    input[type="text"] {
        padding: 10px;
    }

    button {
        padding: 12px;
    }
}

/* Responsive for tablets (max-width: 480px) */
@media screen and (max-width: 480px) {
    .reset-container {
        padding: 20px;
        max-width: 100%;
    }

    input[type="password"],
    input[type="text"] {
        padding: 9px;
    }

    button {
        padding: 10px;
    }
}