/* SuccessPasswordReset Page */
div.success-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
    padding: 15px;
    font-family: Arial, sans-serif;
}

div.success-container .success-box {
    padding: 40px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

div.success-container .success-box h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #009c99;
}
div.success-container .btn {
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 30px;
    text-decoration: none;
    text-align: center;
}

div.success-container .btn-login {
    background-color: #009c99;
}

div.success-container .btn-login:hover {
    background-color: #10adab;
}

div.success-container .btn-gmail {
    background-color: #ea4335;
}

div.success-container .btn-gmail:hover {
    background-color: #f54542ff;
}

div.success-container .note {
    margin-top: 10px;
    font-size: 14px;
    color: #851717ff;
}
/* Responsive Styles */
/* Responsive for tablets (max-width: 768px) */
@media screen and (max-width: 768px) {
    div.success-container .success-box {
        padding: 30px;
        width: 100%;
    }

    div.success-container .success-box h2 {
        margin-bottom: 30px;
    }

    div.success-container .btn {
        padding: 10px;
    }
}
/* Responsive for tablets (max-width: 480px) */
@media screen and (max-width: 480px) {
    div.success-container .success-box {
        padding: 20px;
        width: 100%;
    }

    div.success-container .success-box h2 {
        margin-bottom: 25px;
    }

    div.success-container .btn {
        padding: 9px;
    }
}