/* SuccessPasswordReset Page */
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
.success-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
    padding: 15px;
    font-family: Arial, sans-serif;
}

.success-box {
    padding: 40px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.success-box h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #009c99;
}
.btn {
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 30px;
    text-decoration: none;
    text-align: center;
}

.btn-login {
    background-color: #009c99;
}

.btn-login:hover {
    background-color: #10adab;
}

.btn-gmail {
    background-color: #ea4335;
}

.btn-gmail:hover {
    background-color: #f54542ff;
}

.note {
    margin-top: 10px;
    font-size: 14px;
    color: #851717ff;
}
/* Responsive Styles */
/* Responsive for large screens (min-width: 1280px) */
@media screen and (min-width: 1280px) {
    .success-box {
        max-width: 500px;      
        padding: 50px 40px;    
        border-radius: 12px;
    }

    .success-box h2 {
        font-size: 28px;     
        margin-bottom: 45px;
    }

    .btn {
        padding: 14px 0;        
        font-size: 17px;
        border-radius: 12px;
    }

    .note {
        font-size: 15px;        
        margin-top: 15px;
    }
}
/* Responsive for tablets (max-width: 768px) */
@media screen and (max-width: 768px) {
    .success-box {
        padding: 30px;
        width: 100%;
    }

    .success-box h2 {
        margin-bottom: 30px;
    }

    .btn {
        padding: 10px;
    }


}


/* Responsive for tablets (max-width: 480px) */
@media screen and (max-width: 480px) {
    .success-box {
        padding: 20px;
        width: 100%;
    }

    .success-box h2 {
        margin-bottom: 25px;
    }

    .btn {
        padding: 9px;
    }
}